<%= link_to 'Create a New League', new_league_path %>
<%= link_to 'League Login', login_path %>
<%= link_to 'Logout', logout_path, method: :delete %>
<%= link_to 'Create a New Match', new_match_path %>
<h3>History and Stats</h3>
<%= current_league.inspect %>